@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap");

$fontFamily: ("Open Sans", sans-serif);

//=Primary colors=======================================================================================================================================================
$primary-footer: #f5f1f6;
$primary-primary: #d9859e;
$primary-hover: #c0a4b7;
$primary-fon:  #f3ceb9;
$primary-fon-card: #f3ceb9;
$primary-border: #e97216;
$primary-container: rgba(167, 88, 54, 0.2);


//=Secondary colors=======================================================================================================================================================
$secondary-black: #030110;
$secondary-white: #fcfcfc;
$secondary-text: #363636;
$secondary-gray: #9a9a9a;
$secondary-hover: #ededed;
$secondary-error: #f94949;
$secondary-positive: #1ba161;
//=Fonts=======================================================================================================================================================
$counter-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 48px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);
$h1-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 40px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);

$h2-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-size": 24px,
  "letter-spacing": 0.01em,
  "font-weight": 500,
  "line-height": 150%,
);

$h3-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 18px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);

$h4-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
    ),
    "font-weight": 700,
    "font-size": 24px,
    "line-height": 1.5,
    "letter-spacing": 0.01em,
    );


$h5-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 32px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);

$h6-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
    ),
    "font-weight": 600,
    "font-size": 20px,
    "line-height": 1.5,
    "letter-spacing": 0.01em,
    );

    $h7-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 26px,
  "letter-spacing": 0.01em,
  "font-weight": 700,
  "line-height": 150%,
);
$button: $h3-font;
$menu: $h3-font;

$text-20-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-size": 20px,
  "letter-spacing": 0.01em,
  "font-weight": 400,
  "line-height": 150%,
);

$text-16-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-size": 16px,
  "letter-spacing": 0.01em,
  "font-weight": 400,
  "line-height": 150%,
);

$text-14-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-weight": 400,
  "font-size": 14px,
  "line-height": 1.5,
  "letter-spacing": 0.01em,
);

$text-18-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-weight": 400,
  "font-size": 18px,
  "line-height": 1.5,
  "letter-spacing": 0.01em,
);

$breakpoints: (
  "tn": 320px,
  "sm": 420px,
  "md": 768px,
  "lg": 1280px,
  "xl": 1366px,
  "xxl": 1440px,
  "xxxl": 1920px,
);

//===Other=====================================================================================================================================================
$transition-duration-base: 0.3s;
$transition-timing-base: ease;