@use '../../../app/styles/mixins' as mixins;
@use '../../../app/styles/variables' as var;

.cardStyle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  min-width: 288px;
  max-width: 720px;
  height: fit-content;
  border-bottom: 1px solid #2e0535;
  padding: 0px 0px 8px 0px;
  
    .cardWrapper {
      width: fit-content;
      height: fit-content;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .svgWrapper {
      width: 30%;
      height: 30%;
      position: relative; 
    }
   
   
   @include mixins.media-q("md") { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 720px;
    max-width: 1236px;
    height: fit-content;

    .cardWrapper {
      min-width: 300px;
      max-width: 400px;
      max-height: 189px;
    }

  }
  @include mixins.media-q("xl") { 
    padding: 0px 32px 8px 48px;
    min-width: 1236px;
    max-width: 1320px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 48px;
    
    .svgWrapper {
      width: 80%;
      height: 100%;
      
    }
    .cardWrapper {
      min-width: 400px;
      height: 157px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }

}
  @include mixins.media-q("xxxl") {
    min-width: 1320px;
    width: 100%
  }
}

.textCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  min-width: 288px;
  max-width: 1920px;
  height: fit-content;
  
  @include mixins.media-q("md") { 
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 397px;
    gap: 12px;
  }
  
  @include mixins.media-q("xl") {
    gap: 12px;
    min-width: 712px;;
  }
  
  @include mixins.media-q("xxxl") { 
    gap: 12px;
    min-width: 800px;
  }
}


.text {
  color: var.$secondary-white; 
  @include mixins.apply-font-styles(var.$text-20-font);
  
  @include mixins.media-q("md") { 
    @include mixins.apply-font-styles(var.$text-20-font)
  }
  
  @include mixins.media-q("xl") { 
    @include mixins.apply-font-styles(var.$text-20-font)
  }
}
