@use'../../app/styles/variables' as var;
@use '../../app/styles/mixins'as mixin;

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

.centerContainer {
  display:flex;
  align-items: center;
  justify-content: center;
  background: rgba(192, 19, 60, 0.45);
  border-radius: 30px;
  padding: 60px 64px;
  width: 1366px;
  height: 659px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.text {
  align-items: center;
  justify-content: center;
  display: grid;
  @include mixin.apply-font-styles(var.$h1-font);
}